{
  "root": true,
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "unicorn"
  ],
  "extends": [
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:unicorn/all",
    "plugin:import/recommended"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/semi": "off",
    "import/no-extraneous-dependencies": "off",
    "max-lines": [
      "warn",
      {
        "max": 500,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "no-console": "error",
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          ".*"
        ]
      }
    ],
    "eqeqeq": [
      "error",
      "always"
    ],
    "no-unused-vars": "off",
    "unicorn/filename-case": [
      "error",
      {
        "case": "kebabCase"
      }
    ],
    "unicorn/no-null": "off",
    "react/jsx-filename-extension": [
      0
    ]
  }
}
