// Fonts
$defaultFontFamily: 'Open Sans', sans-serif;
$logoFontFamily: 'Bebas Neue', sans-serif;

// Font sizes
$normalFontSize: 16px;

// Font weight
$normalFontWeight: 400;
$lightBoldFontWeight: 600;

// Colors
$darkGreyColor: rgb(55, 55, 55);
$greyBlueColor: rgb(20, 90, 135);
$bossColor: #f3d5d5;
$npcColor: #dff5df;
$eventColor: #d3edf3;

// Gaps
$mediumGap: 10px;
$largeGap: 40px;
