// Fonts
$defaultFontFamily: 'Open Sans', sans-serif;
$logoFontFamily: 'Bebas Neue', sans-serif;

// Font sizes
$normalFontSize: 1rem;

// Colors
$darkGreyColor: rgb(55, 55, 55);
$greyBlueColor: rgb(20, 90, 135);
$bossColor: #f3d5d5;
$npcColor: #dff5df;
$eventColor: #d3edf3;

// Gaps
$extraSmallGap: 4px;
$smallGap: 6px;
$mediumGap: 10px;
$largeGap: 16px;
$extraLargeGap: 20px;
$doubleLargeGap: 40px;

// Border Radius
$mediumRadius: 6px;
