@use 'variables' as *;
@use 'header';
@use 'intro';
@use 'chapter';

$debug: false;

* {
  @if $debug {
    border: 1px solid rgb(random(200), random(200), random(200));
  }
}

body {
  font-family: $defaultFontFamily;
}

.page-wrapper {
  margin: $largeGap 10%;
  color: $darkGreyColor;
  a {
    color: rgb(18, 91, 132);
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
