:root {
  /* colors */
  --black-coal: rgba(0, 0, 0, 0.8);
  --blue-link: #1976d2;

  /* sizes */
  --regular: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--black-coal);
  font-size: var(--regular);

  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--blue-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2,
h3 {
  font-family: 'IBM Plex Sans', sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.welcome-text {
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 600px;
  max-width: 1000px;
  width: 100%;
  padding: 0 40px;
}

.welcome-text p {
  margin: 14px 0;
}

.welcome-text h3 {
  margin-top: 20px;
}
