@import './reset.scss';

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-size: $global-font-size;
  color: $color-black-coal;

  @if ($DEBUG) {
    border: 2px solid blue;
  }
}

a {
  color: $color-blue-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}