.checklist {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.checklist .cover {
  display: flex;
  padding: 40px 0;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background-position: center;
  background-size: cover;
}

.checklist .cover h1 {
  font-family: 'IBM Plex Sans Condensed';
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.checklist-items {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0 auto;
  min-width: 600px;
  max-width: 1000px;
  width: 100%;
  padding: 0 40px;
  margin-bottom: 40px;
}
