.drawer {
  display: none;
  margin-right: -$drawer-width;
  background-color: white;
  padding: $gap-large;

  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.05);

  @mixin opened {
    display: block;
    min-width: $drawer-width;
    z-index: 9;
  }

  &.open {
    @include opened;
  }

  .logo {
    display: none;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 20px;
    gap: $gap-small;

    @include desktop {
      display: flex;
    }
  }

  .logo-text {
    display: flex;
    flex-direction: column;
    font-family: $big-text-font-family;
    text-transform: uppercase;
    justify-content: center;
    gap: $gap-small;

    span {
      font-size: 26px;
      line-height: 20px;
    }
  }

  .diminished {
    color: $color-black-coal-light;
    font-size: 13px;
  }

  .separator {
    height: 1px;
    line-height: 1px;
    width: 100%;
    background-color: #eeeeee;
    margin: 20px 0;
  }

  hr {
    height: 1px;
    line-height: 1px;
    width: 100%;
    background-color: #eeeeee;
    border: 0;
    margin: 20px 0;
  }

  a.reset {
    display: inline-block;
    color: $color-black-coal;
    cursor: pointer;
    &::before {
      vertical-align: top;
      opacity: 0.7;
      display: inline-block;
      width: 24px;
      height: 24px;
      content: ' ';
      background: url('../image/icon/reset.svg') no-repeat center center;
      margin-right: 5px;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  .sections {
    a {
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      cursor: pointer;
      color: $color-black-coal;
      &:hover {
        text-decoration: underline;
      }
      &.done {
        color: $color-black-coal;
        background-color: #c9ecd8;
        .done-count {
          font-weight: bold;
          color: green;
        }
      }
      .done-count {
        color: $color-black-coal-light;
      }
    }

    h3 {
      margin-top: $gap-large;
      margin-bottom: $gap-small;
      font-size: 18px;
    }

    .chapters {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 15px;
      gap: $gap-medium;
      a {
        display: inline;
      }
    }
  }

  @include desktop {
    margin-right: 0;
    @include opened;
  }

  @if ($DEBUG) {
    border: 2px solid blue;
    background-color: rgb(223, 223, 255);
  }
}
