.drawer {
  display: none;

  margin-right: -$drawer-width-mobile;
  min-width: $drawer-width-mobile;

  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.05);

  z-index: 9;
  padding-bottom: $gap-large;

  font-size: $small-font-size;

  @mixin opened {
    display: block;
  }

  @include desktop {
    margin-right: 0;
    font-size: $global-font-size;
    min-width: $drawer-width-desktop;
    @include opened;
  }

  @mixin ornament($icon) {
    vertical-align: top;
    opacity: 0.7;
    display: inline-block;
    width: 24px;
    height: 24px;
    content: ' ';
    background: url('../image/icon/#{$icon}.svg') no-repeat center center;
  }

  @mixin link-block {
    color: $color-black-coal;
    padding: $gap-small $gap-large;
    display: flex;
    align-items: center;
    gap: $gap-tiny;
    cursor: pointer;

    &:hover {
      background-color: $color-gray-light;
      text-decoration: none;
    }
  }

  &.open {
    @include opened;
  }

  .logo {
    display: none;
    border-bottom: 1px solid $color-gray-light;
    padding-bottom: 20px;
    margin-bottom: 20px;
    gap: $gap-small;
    margin: $gap-large;

    @include desktop {
      display: flex;
    }

    .logo-text {
      display: flex;
      flex-direction: column;
      font-family: $big-text-font-family;
      text-transform: uppercase;
      justify-content: center;
      gap: $gap-small;

      span {
        font-size: 26px;
        line-height: 20px;
      }
    }
  }

  .danger-zone {
    margin: $gap-large 0 $gap-large 0;

    @mixin strip {
      content: ' ';
      height: 6px;
      display: block;
      background-image: url('../image/icon/strips.png');
    }

    &::before,
    &::after {
      @include strip;
    }

    a.reset {
      @include link-block;
      margin: $gap-small 0;

      &::before {
        @include ornament('reset');
      }

      &:hover {
        background-color: $color-red-light;
        color: $color-red;
      }
    }
  }

  .sections {
    h3 {
      margin: $gap-large 0 $gap-small $gap-large;
      font-size: 18px;
    }

    a {
      @include link-block;

      .done-count {
        color: $color-black-coal-light;
        font-size: $small-font-size;
      }
      &.active {
        background-color: $color-gray-light;
        font-weight: bold;
      }

      &.done {
        .done-count {
          color: $color-green-dark;
          font-weight: bold;
        }
      }
    }
  }

  a.home {
    margin-top: $gap-large;
    &::before {
      @include ornament('home');
    }
  }

  .diminished {
    margin: 0 $gap-large;
    color: $color-black-coal-light;
    font-size: 13px;
  }
}

.overlay {
  display: none;
  background-color: $color-black-coal-light;
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.show {
    display: block;
    @include desktop {
      display: none;
    }
  }
}
