.line {
  @mixin done-item {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.3);
    border: 0;
  }
  @mixin checked-transition {
    transition: all 0.3s cubic-bezier(0.77, 0, 0.18, 1);
  }

  display: flex;
  gap: $gap-medium;
  align-items: flex-start;
  flex-direction: row;
  @include checked-transition;

  .text {
    display: inline;
    line-height: 24px;
    max-width: 830px;
  }

  &.done {
    @include checked-transition;
    @include done-item;

    .text {
      .entity a {
        @include done-item;
        @include checked-transition;
      }
    }
    a {
      @include checked-transition;
    }

    img {
      opacity: 0.3;
      @include checked-transition;
    }
  }

  h3 {
    margin-bottom: $gap-small;
    margin-top: $gap-large;
  }

  input[type='checkbox'] {
    min-height: 26px;
    min-width: 26px;
  }

  .entity {
    display: inline-block;
    line-height: 24px;
    font-size: 0;

    &.npc a {
      border-bottom: 2px solid $color-green;
    }

    &.boss a {
      border-bottom: 2px solid $color-red;
    }

    &.event a {
      border-bottom: 2px solid $color-blue;
    }

    a {
      margin-left: 2px;
      color: $color-blue-link;
      font-size: 16px;
      padding-bottom: 3px;
      text-decoration: none;

      &:hover {
        color: $color-black-coal;
        border-color: $color-black-coal;
        text-decoration: none;
      }
    }

    img {
      display: inline;
      vertical-align: top;
      margin-right: 4px;
    }
  }
}
