.line {
  display: flex;
  gap: $gap-medium;
  align-items: flex-start;
  flex-direction: row;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.18, 1);

  .text {
    display: inline;
    line-height: 24px;
    max-width: 830px;

    a {
      color: $color-blue-link;
      font-size: 16px;
      padding-bottom: 3px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.done {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s cubic-bezier(0.77, 0, 0.18, 1);

    .text {
      .entity a {
        text-decoration: line-through;
        color: rgba(0, 0, 0, 0.3);
        border: 0;
        transition: all 0.3s cubic-bezier(0.77, 0, 0.18, 1);
      }
    }
    a {
      text-decoration: line-through;
      color: rgba(0, 0, 0, 0.3);
      border: 0;
      transition: all 0.3s cubic-bezier(0.77, 0, 0.18, 1);
    }

    img {
      opacity: 0.3;
      transition: all 0.3s cubic-bezier(0.77, 0, 0.18, 1);
    }
  }

  h3 {
    margin-bottom: $gap-small;
    margin-top: $gap-large;
  }

  input[type='checkbox'] {
    min-height: 26px;
    min-width: 26px;
  }

  .entity {
    display: inline-block;
    line-height: 24px;
    font-size: 0;

    &.npc a {
      border-bottom: 2px solid rgb(126, 196, 136);
    }

    &.boss a {
      border-bottom: 2px solid rgb(198, 58, 58);
    }

    &.event a {
      border-bottom: 2px solid rgb(57, 112, 215);
    }

    a {
      margin-left: 2px;
      color: $color-blue-link;
      font-size: 16px;
      padding-bottom: 3px;
      text-decoration: none;

      &:hover {
        color: $color-black-coal;
        border-color: $color-black-coal;
        text-decoration: none;
      }
    }

    img {
      display: inline;
      vertical-align: top;
      margin-right: 4px;
    }
  }
}
