.page {
  width: 100%;

  .lines {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: $gap-large;

    @include desktop {
      margin: $gap-xlarge;
    }

    @if ($DEBUG) {
      $debug-color: rgb(123, 255, 0);
      border: 2px solid $debug-color;
      background-color: lighten($debug-color, 40%);
    }

    & > .line:first-of-type h3 {
      margin-top: 0;
    }

    &.welcome-text {
      display: block;
    }
  }

  .cover {
    padding: $gap-small;

    h1 {
      font-family: 'IBM Plex Sans Condensed';
      font-size: 30px;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      width: 100%;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);

      @include desktop {
        font-size: 45px;
        padding: $gap-xlarge $gap-medium;
      }
    }

    &.home {
      background-repeat: repeat;
      background-size: cover;
      background-position: center;
      height: 100px;
    }
  }

  .notes {
    display: block;
    padding: $gap-medium;
    background-color: rgba(0, 0, 0, 0.05);
    &::before {
      vertical-align: top;
      opacity: 0.7;
      display: inline-block;
      width: 24px;
      height: 24px;
      content: ' ';
      background: url('/src/image/icon/info.svg') no-repeat center center;
      margin-right: $gap-small;
    }
  }

  button.start-button {
    @include desktop {
      display: none;
    }

    background-color: #1976d2;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border: 2px solid #1976d2;
    border-radius: 10px;
    font-family: $big-text-font-family;
    font-size: 24px;
    text-transform: uppercase;

    margin-top: 20px;

    box-shadow: 0 10px darken(#1976d2, 10%);
  }
}
